body {
  background-color: #212121;
  font-family: 'Barlow Condensed', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 0.2fr);
  grid-gap: 60px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(168, 168, 168, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(168, 168, 168, 0.31);
}
.info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.desc {
  font-size: small;
}

.forecast {
  display: flex;
  justify-content: space-between;
  background: rgba(168, 168, 168, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(168, 168, 168, 0.31);
}

.forecast-items {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 30px;
}
.day {
  font-size: 18px !important;
}

.temp {
  display: flex;
  font-size: 90px;
  align-items: baseline;
}

.weather-info {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  background: rgba(168, 168, 168, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(168, 168, 168, 0.31);
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(4, 0.0001fr);
  align-items: center;
  justify-items: start;
}

/*** ESTILOS BUSCADOR**/

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid rgba(168, 168, 168, 0.31);
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--zip {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #3898ec;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--zip:hover {
  background-color: #5e5dcd;
}

.input:focus,
.input:focus-visible {
  border-color: #3898ec;
  outline: none;
}

/*Loader*/
.wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  transition: opacity 0.25s, visibility 1s;
}

.spinner {
  position: relative;
  width: 22.4px;
  height: 22.4px;
}

.spinner::before,
.spinner::after {
  --radius: 250;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  animation: spinner-w7nm60 2s infinite linear;
  background: #303030;
  border-radius: 50%;
}

.spinner::before {
  --radius: -250;
  background: #afafb4;
}

@keyframes spinner-w7nm60 {
  0% {
    transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%));
  }

  50% {
    transform: scale(0.5) rotate(1440deg) translateY(0);
  }

  100% {
    transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%));
  }
}

.fade {
  opacity: 0;
  visibility: hidden;
}
/*End-Loader*/

@media only screen and (max-width: 700px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
